$color-primary: rgb(250, 240, 215);
$color-secondary: rgb(168, 190, 140);
$color-tertiary: rgb(97, 78, 69);
$color-white: white;
$color-text-gold: rgb(255, 234, 167);
$color-header: rgb(25, 25, 25);
$color-card: white;
$color-text-primary: rgba(255, 255, 255, 0.462);